{
  "presets": [
    [
      "@babel/preset-env"
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/proposal-class-properties",
      {
        "legacy": true
      }
    ],
    "@babel/syntax-dynamic-import",
    "@babel/transform-async-to-generator",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "core": "./src/core",
        "src": "./src",
        "packages": "./src/packages",
        "config": "./src/core/config",
        "database": "./src/core/database",
        "common": "./src/core/common",
        "modules": "./src/core/modules"
      }
    }]
  ],
  "ignore": [
    "public",
    "resources"
  ]
}
